.AttendanceStatWrapper {
  height: 100%;
}

.AttendanceStatWrapper::-webkit-scrollbar {
  width: 6px;
}

.AttendanceStatWrapper::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background-color: #a59e9e;
}

.AttendanceStatWrapper::-webkit-scrollbar-track {
  background-color: #cacaca;
}

.AttendanceStatWrapper .MainWrapper {
  padding: 0 48px 48px;
  height: 100%;
}

.AttendanceStatWrapper .MainWrapper .nav {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AttendanceStatWrapper .MainWrapper .nav .title {
  font-size: 24px;
  font-weight: 600;
}

.AttendanceStatWrapper .MainWrapper .nav .btn {
  padding: 12px 16px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
}

.AttendanceStatWrapper .MainWrapper .content {
  background-color: #fff;
  height: calc(100% - 104px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0 0;
}

.AttendanceStatWrapper .MainWrapper .content .tab-list {
  display: flex;
}

.AttendanceStatWrapper .MainWrapper .content .tab-list .tab-item {
  padding: 18px 0;
  width: 50%;
  text-align: center;
  font-size: 16px;
}

.AttendanceStatWrapper .MainWrapper .content .table-header-list {
  display: flex;
  overflow-x: scroll;
}

.AttendanceStatWrapper .MainWrapper .content .table-header-list::-webkit-scrollbar {
  height: 4px;
}

.AttendanceStatWrapper .MainWrapper .content .table-header-list::-webkit-scrollbar-thumb {
  width: 30%;
  border-radius: 10px;
  background-color: #a59e9e;
}

.AttendanceStatWrapper .MainWrapper .content .table-header-list::-webkit-scrollbar-track {
  background-color: #cacaca;
}

.AttendanceStatWrapper .MainWrapper
.content
.table-header-list
.table-header-item.table-header-item-name {
  flex-shrink: 0;
  width: 150px;
}

.AttendanceStatWrapper .MainWrapper .content .table-header-list .table-header-item {
  min-width: 100px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #000;
  color: #fff;
  border-right: 1px solid #fff;
}

.AttendanceStatWrapper .MainWrapper
.content
.table-header-list
.table-header-item:last-child {
  border-right: none;
}

.AttendanceStatWrapper .MainWrapper .content .attendance-table-wrapper {
  width: 100%;
  height: calc(100% - 114px);
  overflow: auto;
}

.AttendanceStatWrapper .MainWrapper .content .attendance-table-wrapper::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.AttendanceStatWrapper .MainWrapper
.content
.attendance-table-wrapper::-webkit-scrollbar-thumb {
  width: 30%;
  height: 30%;
  border-radius: 10px;
  background-color: #a59e9e;
}

.AttendanceStatWrapper .MainWrapper
.content
.attendance-table-wrapper::-webkit-scrollbar-track {
  background-color: #cacaca;
}

.AttendanceStatWrapper .MainWrapper .content .attendance-table-wrapper .attendance-table {
  /*min-width: 3650px;*/
}

.AttendanceStatWrapper .MainWrapper
.content
.attendance-table-wrapper
.attendance-table
.attendance-table-row {
  border-bottom: 1px solid #cacaca;
  position: relative;
}

.AttendanceStatWrapper .MainWrapper
.content
.attendance-table-wrapper
.attendance-table-row
.attendance-table-col {
  border-right: 1px solid #cacaca;
  padding: 16px;
  min-width: 100px;
  text-align: center;
  vertical-align: middle;
}

.AttendanceStatWrapper .MainWrapper
.content
.attendance-table-wrapper
.attendance-table-row
.attendance-table-col.attendance-table-col-result {
  background-color: #ffd6d6;
}

.AttendanceStatWrapper .MainWrapper
.content
.attendance-table-wrapper
.attendance-table-row
.attendance-table-col:last-child {
  border-right: none;
}

.AttendanceStatWrapper .MainWrapper
.content
.attendance-table-wrapper
.attendance-table-row
.attendance-table-col.attendance-table-col-name {
  position: sticky;
  left: 0;
  min-width: 150px;
  background-color: #000;
  color: #fff;
}

.title-active {
  color: #000;
  cursor: default;
}

.title-disabled {
  color: #cacaca;
  cursor: pointer;
}

/* 모달창 구현 */
#modal-wrapper {
  display: none;
}

#modal-wrapper .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 32px;
  border-radius: 20px;
  z-index: 2;
}

#modal-wrapper .modal-back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

.ex-text {
  margin-top: 10px;
  color: #BBBABA;
  font-size: 16px;
  font-weight: 400;

}

.get-date {
  margin-top: 28px;
}

.star {
  color: #FF0000;
  font-size: 18px;
  font-weight: 600;
}

#insert-date {
  width: 507px;
  height: 48px;
  padding: 15px 12px 15px 12px;
  margin-top: 6px;
  background-color: #F2F4F6;
  border: none;
  border-radius: 3px;
  margin-bottom: 12px;
  outline: none;
}

#close-modal {
  width: 179px;
  height: 64px;
  padding: 21px 0px 22px 0px;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-button .update-modal {
  /*font-size: 18px;*/
  /*width: 86px;*/
  /*height: 43px;*/
  /*border: black 1px solid;*/
  /*border-radius: 3px;*/
  /*background-color: black;*/
  /*color: white;*/
  /*margin-left: 11px;*/
  /*font-weight: 600;*/
  width: 179px;
  height: 64px;
  padding: 21px 0px 22px 0px;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: black;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-button {
  margin-top: 36px;
  display: flex;
  justify-content: space-evenly;
}

#getError {
  color: red;
  font-size: 14px;
}