.HomeWrapper {
  height: 100%;
}

.HomeWrapper::-webkit-scrollbar {
  width: 6px;
}

.HomeWrapper::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background-color: #a59e9e;
}

.HomeWrapper::-webkit-scrollbar-track {
  background-color: #cacaca;
}

.HomeWrapper .MainWrapper {
  height: 100%;
  padding: 0 48px 48px;
}

.HomeWrapper .MainWrapper .nav {
  padding: 32px 0;
}

.HomeWrapper .MainWrapper .nav .title {
  font-size: 24px;
  font-weight: 600;
}

.HomeWrapper .MainWrapper .content {
  height: calc(100% - 88px);
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.HomeWrapper .MainWrapper .content .attendance {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.HomeWrapper .MainWrapper .content .attendance .attendance-title {
  padding: 24px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #cacaca;
}

.HomeWrapper .MainWrapper .content .attendance-list {
  display: flex;
  text-align: center;
}

.HomeWrapper .MainWrapper .content .attendance-list .attendance-item {
  padding: 24px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.HomeWrapper
.MainWrapper
.content
.attendance-list
.attendance-item
.attendance-item-title {
  font-size: 18px;
  font-weight: 600;
}

.HomeWrapper
.MainWrapper
.content
.attendance-list
.attendance-item
.attendance-item-desc {
  font-size: 32px;
  font-weight: 600;
}

.HomeWrapper .MainWrapper .notice {
  height: calc(100% - 239px);
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.HomeWrapper .MainWrapper .notice .notice-tab-list {
  border-bottom: 1px solid #cacaca;
  padding: 0 24px;
  display: flex;
}

.HomeWrapper .MainWrapper .notice .notice-tab-list .notice-tab-item {
  padding: 24px;
  border-bottom: 2px solid #000;
  font-weight: 600;
  font-size: 18px;
}


.HomeWrapper .MainWrapper .notice .notice-content {
  padding: 0 24px;
  max-height: calc(100% - 69px);
  overflow-y: auto;
}

.HomeWrapper .MainWrapper .notice .notice-content::-webkit-scrollbar {
  width: 6px;
}

.HomeWrapper .MainWrapper .notice .notice-content::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background-color: #a59e9e;
}

.HomeWrapper .MainWrapper .notice .notice-content::-webkit-scrollbar-track {
  background-color: #cacaca;
}

.HomeWrapper .MainWrapper .notice .notice-content .notice-list .notice-item {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cacaca;
  cursor: pointer;
}

.HomeWrapper .MainWrapper .notice .notice-content .notice-list .notice-item:last-child {
  border: none;
}

.HomeWrapper
.MainWrapper
.notice
.notice-content
.notice-list
.notice-item
.notice-title {
  font-size: 18px;
  font-weight: 600;
}

.HomeWrapper
.MainWrapper
.notice
.notice-content
.notice-list
.notice-item
.notice-info {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 14px;
  gap: 6px;
  color: #cacaca;
  font-weight: 300;
}