
.content::-webkit-scrollbar {
    width: 6px;
}

.content::-webkit-scrollbar-thumb {
    height: 30%;
    border-radius: 10px;
    background-color: #a59e9e;
}

.content::-webkit-scrollbar-track {
    background-color: #cacaca;
}


.UserWrapper {
    /*display: flex;*/
    /*padding: 0 48px 48px;*/
    height: 100%;
    /*justify-content: center;*/
    /*box-sizing: border-box;*/

}


.all{
    height: 100%;

}
.UserWrapper .main {
    padding: 0 48px 48px;
    height: 100%;
}

.UserWrapper .nav {
    /*font-weight: bold;*/
    /*font-size: 24px;*/
    /*padding: 24px;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.UserWrapper .nav .title {
    font-size: 24px;
    font-weight: 600;

}

/*.UserWrapper .main {*/
/*    !*font-size: 24px;*!*/
/*    !*font-weight: 600;*!*/
/*    width: 100%;*/
/*    overflow-x: hidden;*/
/*    !*overflow-y: hidden;*!*/
/*    overflow-y: scroll;*/

/*}*/


.table {
    width: 100%;

}

.content2 {
    width: 100%;
    height: calc(100% - 84px - 80px - 48px);
    background-color: #fff;
    /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
    /*overflow: auto;*/


}

.UserWrapper .main .table {
    margin: auto;
    /*max-height: 600px;*/
    padding: 0 48px 48px;
    /*height: calc(100vh - 190px);*/
    /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
}

.header-row {
    width: 100%;
    border-radius: 20px 20px 0 0;
    /*padding: 24px;*/
    background-color: #000;
    color: #fff;
    height: 54px;
    margin: auto;
    text-align: center;
    display: flex;

}

.header-row .header-col {
    /*padding: 24px;*/

    /*margin: auto;*/
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    /*display: flex;*/
    justify-content: center;
    text-align: center;

}

.header-row .header-col1 {
    border-radius: 20px 0 0 0;
    /*padding: 12px;*/
    width:4%;
}

.header-col2{width:24%;}
.header-col3{width:9%;}
.header-col4{width:24%;}
.header-col5{width:9%;}
.header-col6{width:15%;}



.header-row .header-col7 {
    border-radius: 0 20px 0 0;
    padding: 12px;
    width: 15%;
}

.UserWrapper .main .content {
    width: 100%;
    height: calc(100% - 233px);
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y:scroll ;

}

.content-row .content-col {
    padding-top: 17px;
    padding-bottom: 17px;
    /*display: flex;*/
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid gainsboro;


}

.list-col1{width:4%;}
.list-col2{width:24%;}
.list-col3{width:9%;}
.list-col4{width:24%;}
.list-col5{width:9%;}
.list-col6{width:15%;}
.list-col7{width:15%;}

.nextBtn4{margin-left: -30px}
.nextBtn3{margin-left: -20px}
.nextBtn2{margin-right: -20px}
.nextBtn1{margin-right: -30px}

.modal2 {
    /* display: block; */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 623px;
    height: 290px;
    border-radius: 20px;


}

.openModalBtn1 {
    padding: 10px 20px;
    border-radius: 3px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

/*}=====활성화될경우는 이걸======*/
/*.openModalBtn1{*/
/*    padding: 10px 20px;*/
/*    border-radius: 3px;*/
/*    background-color: #000;*/
/*    color: #fff;*/
/*}=====활성화될경우는 이걸======*/

.openModalBtn2 {
    padding: 10px 20px;
    border-radius: 3px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.modal-content2-area1 {
    display: flex;
    flex-direction: column;
    padding: 27px;
    align-items: flex-start;


}

.modal-content2-area2 {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px;
}

.modal-content2-title {
    text-align: center;
    font-weight: bold;
    font-size: 29px;


}

.modal-content2-info {
    text-align: center;
padding-top: 5px;
    margin-top: 5px;
    font-size: 19px;
    color: rgb(128, 128, 128);
}





.modal-content2 #openModalBtn2 {
    width: 179px;
    height: 64px;
    padding: 21px 0px 22px 0px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 3px;
    background-color: black;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.closeBtn{
    padding: 10px 20px;
    border-radius: 3px;
    background-color: grey;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: default;

}


/*.modal-content2 #openModalBtn2:hover {*/
/*    padding: 10px 20px;*/
/*    border-radius: 3px;*/
/*    background-color: #000;*/
/*    color: #fff;*/
/*    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/

/*}*/




.cancelButton2 {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.openModalBtn1:hover {

    padding: 10px 20px;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.openModalBtn2:hover {

    padding: 10px 20px;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.modal-content2 .cancelButton2 {

    width: 179px;
    height: 64px;
    padding: 21px 0px 22px 0px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.pageNav2 h1 {
    font-weight: bold;
    /*margin: auto;*/
    display: flex;
    /*align-content: center;*/
    /*width: 600px;*/
    text-align: center;

    justify-content: center;


}

/*.paging{*/
/*    !*display: flex;*!*/
/*    !*align-content: center;*!*/
/*    !*font-size: 30px;*!*/
/*    !*margin: auto;*!*/
/*    !*justify-content: center;*!*/

/*    margin-top: 32px;*/
/*    margin-bottom: 32px;*/
/*    width: 100%;*/
/*    max-height: 95px;*/
/*    background-color: #FFFFFF;*/
/*    border-radius: 0 0 20px 20px;*/
/*    display: inline-flex;*/
/*    justify-content: center;;*/
/*}*/


.page-wrapper {
    padding: 24px;
    /*display: flex;*/
    /* align-content: center; */
    font-size: 28px;
    /* justify-content: center; */
    /* margin-top: 32px; */
    width: 100%;
     background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    display: inline-flex;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.page-number {
    margin-top: 7px;
    display: inline-flex;
    /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/

}

.page-number li a {
    padding: 7px 12px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    /*background-color: #FFFFFF;*/
    color: black;
    text-align: center;
    text-decoration: none;
    margin-left: 8px;
}

.page-num li a:hover,
.page-num li a:focus {
    background-color: black;
    color: #FFFFFF;
}

/*.page-wrapper .page-number */
.page-number-button-on {
    padding: 7px 12px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin-left: 8px;
    background-color: black;
    color: #FFFFFF;
}

.current-page {
    margin-top: 3px;
    padding: 7px 12px;
    /* width: 32px; */
    height: 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin-left: 8px;
    background-color: black;
    color: #FFFFFF;
}

