

.UserWrapper{
    padding: 0 48px 48px;
    height: calc(100vh - 190px);
}

.UserWrapper .nav {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.UserWrapper .nav .title {
    font-size: 24px;
    font-weight: 600;

}

.UserWrapper .nav .main
{


}


.table{
margin: auto;
}

.header-row
{
    padding: 24px;
    background-color: #000;
    color: #fff;
}

.header-row .header-col1
{
    border-radius: 20px 0 0 0;
    padding: 12px;
}
.header-row .header-col7
{
    border-radius: 0 20px 0 0;
    padding: 12px;
}

.content {
    max-height: 600px;
}



/*.UserWrapper*/
/*.main*/
/*.table*/
/*!*.content*!*/
.content-row .content-col
{
    padding-top: 17px;
    padding-bottom: 17px;
    /*display: flex;*/
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid gainsboro;


}

















.modal2 {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 623px;
    height: 290px;
    border-radius: 20px;


}

.openModalBtn1{
    padding: 10px 20px;
    border-radius: 3px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

/*}=====활성화될경우는 이걸======*/
/*.openModalBtn1{*/
/*    padding: 10px 20px;*/
/*    border-radius: 3px;*/
/*    background-color: #000;*/
/*    color: #fff;*/
/*}=====활성화될경우는 이걸======*/

.openModalBtn2
{
    padding: 10px 20px;
    border-radius: 3px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}




.modal-content2-area1
{
    display: flex;
    flex-direction: column;
    padding:30px;


}

.modal-content2-area2{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:65px;
}

.modal-content2-title
{
    text-align: center;
    font-weight: bold;
    font-size: 24px;

}
.modal-content2-info{
    text-align: center;


}

.modal-content2 #openModalBtn2{
    width: 179px;
    height: 64px;
    padding: 21px 0px 22px 0px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.openModalBtn1:active {

        padding: 10px 20px;
        border-radius: 3px;
        background-color: #000;
        color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.openModalBtn2:active {

    padding: 10px 20px;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.modal-content2 .cancelButton2{

    width: 179px;
    height: 64px;
    padding: 21px 0px 22px 0px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}






.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*.modal1 {*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: none;*/
/*    background-color: rgba(0, 0, 0, 0.4);*/
/*    align-items: center; !* 수직 가운데 정렬 *!*/
/*    justify-content: center; !* 수평 가운데 정렬 *!*/
/*}*/





/*.modal1-content {*/
/*    background-color: #fefefe;*/
/*    padding: 20px;*/
/*    border: 1px solid #888;*/
/*    max-width: 80%; !* 모달 최대 너비 설정 *!*/
/*    text-align: center; !* 내용 가운데 정렬 *!*/
/*    position: relative;*/
/*}*/

/*.close {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    color: #aaa;*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: black;*/
/*}*/